body{
  background-color: rgb(255, 255, 183);
}
#character-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.character-card{
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  background-color:burlywood;
}

img{
  width: 250px;
  height: 250px;

}

.status-alive{
  color: green;
}

.status-dead {
  color: red;
}

.status-unknown{
  color: grey;
}